net.sf.wickedshell.domain/schema/batchfileDescriptor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sf.net/wickedshell/domain/batch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="batchFileDescriptorList" type="bat:batchFileDescriptorList" xmlns:bat="http://sf.net/wickedshell/domain/batch"/>
  <xs:complexType name="batchFileDescriptorList">
    <xs:sequence>
      <xs:element type="bat:batchFileDescriptor" name="batchFileDescriptor" maxOccurs="unbounded" minOccurs="0" xmlns:bat="http://sf.net/wickedshell/domain/batch"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="batchFileDescriptor">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="filename" use="optional"/>
        <xs:attribute type="xs:string" name="parameters" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>