net.sf.wickedshell.domain/schema/staticCompletions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sf.net/wickedshell/domain/completion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="staticCompletionList" type="com:staticCompletionList" xmlns:com="http://sf.net/wickedshell/domain/completion"/>
  <xs:complexType name="staticCompletionList">
    <xs:sequence>
      <xs:element type="com:staticCompletion" name="staticCompletion" maxOccurs="unbounded" minOccurs="0" xmlns:com="http://sf.net/wickedshell/domain/completion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="staticCompletion">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="content" use="optional"/>
        <xs:attribute type="xs:string" name="label" use="optional"/>
        <xs:attribute type="xs:string" name="imagePath" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>