net.sf.wickedshell.domain/schema/xmlShellDescriptors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sf.net/wickedshell/domain/xmlShellDescriptor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs1:element name="xmlShellDescriptorList" type="xs:xmlShellDescriptorList" xmlns:xs="http://sf.net/wickedshell/domain/xmlShellDescriptor" xmlns:xs1="http://www.w3.org/2001/XMLSchema"/>
  <xs:complexType name="xmlShellDescriptorList">
    <xs:sequence>
      <xs1:element type="xs:xmlShellDescriptor" name="xmlShellDescriptor" maxOccurs="unbounded" minOccurs="0" xmlns:xs="http://sf.net/wickedshell/domain/xmlShellDescriptor" xmlns:xs1="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlShellDescriptor">
    <xs:sequence>
      <xs:element type="xs:string" name="operatingSystems" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="executableFiles" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="executableBatchFiles" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="binariesDirectory" use="optional"/>
    <xs:attribute type="xs:string" name="characterEncoding" use="optional"/>
    <xs:attribute type="xs:string" name="commandDelimiter" use="optional"/>
    <xs:attribute type="xs:string" name="executable" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="lineFeedString" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="pathDelimiter" use="optional"/>
    <xs:attribute type="xs:string" name="pathSeparator" use="optional"/>
    <xs:attribute type="xs:string" name="systemPathSeparator" use="optional"/>
    <xs:attribute type="xs:string" name="customRootDirectory" use="optional"/>
    <xs:attribute type="xs:string" name="executedCommandProvided" use="optional"/>
    <xs:attribute type="xs:string" name="uiLineFeedProvided" use="optional"/>
  </xs:complexType>
</xs:schema>